--extra-index-url https://testpypi.python.org/pypi
Django==4.0.1
django-debug-toolbar==3.2.4
django-environ==0.8.1
django-extensions==3.1.5
django_simple_plausible-T-101-0.0.2-2
ipython==7.31.0
gunicorn==20.1.0
Pillow==9.0.0
