<!DOCTYPE html>{% load static %}{% load plausible %}
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Soundboard</title>
        <meta property="og:title" content="Soundboard"/>
    {% endblock %}
    <meta property="og:description" content="Yet Another Soundboard"/>
    <meta property="og:url" content="https://soundboard.didnot.win"/>
    <meta property="og:image" content="https://soundboard.didnot.win/static/soundboard/speaker192.webp"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'soundboard/speaker32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'soundboard/speaker16.png' %}">
    <link rel="manifest" href="{% static 'soundboard/site.webmanifest' %}">
    <!-- Favicon from https://www.flaticon.com/free-icon/sound_2838546 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{% static 'soundboard/bs-color-mode-toggler.js' %}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css"
          integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'soundboard/styles.css' %}"/>
    {% block extrahead %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-4">
    <div class="container-fluid">
        <a class="text-decoration-none" href="{% url 'soundboard:list' %}">
            <span class="navbar-brand mb-0 h1">
                <img src="{% static 'soundboard/speaker32.png' %}" alt="Speaker icon" style="height: 2em" class="me-2"/>
                Soundboard Did Not Win</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mx-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false"><i class="fas fa-sun"></i></a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <button class="dropdown-item" data-bs-theme-value="light">
                            <i class="fas fa-sun me-2"></i>Light Mode
                        </button>
                        <button class="dropdown-item" data-bs-theme-value="dark">
                            <i class="fas fa-moon me-2"></i>Dark Mode
                        </button>
                        <button class="dropdown-item" data-bs-theme-value="auto">
                            <i class="fas fa-magic me-2"></i>Automatic
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js"
        integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% plausible %}

</body>
</html>
